/* Важная часть */
.popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s all;
}

.popup-bg.active {
  opacity: 1;
  pointer-events: all;
  transition: 0.5s all;
}

.popup {
  width: 260px;
  height: 160px;
  background: #fff;
  border-radius: 8px;
  position: absolute;
  top: 67%;
  left: 58%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.5s all;
}

.popup.active {
  transform: translate(-10%, -10%) scale(1);
  transition: 0.5s all;
}

.popup-counter {
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.popup-inscription {
  color: #1D1E1F;
}

.counter-btn-adults,.children-btn,.counter-btn-rooms {
  width: 30px;
  height: 30px;
  color: #fff;
  font-size: 18px;
  border: 2px solid #2982ff;
  background: #2982ff;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.5s all;
}

.counter-btn-adults:hover,
.counter-btn-rooms:hover,
.children-btn:hover{
  background: #fff;
  color: #2982ff;
  transition: 0.5s all;
}

.counter-value-adults,
.children-value,
.counter-value-rooms{
  width: 50px;
  height: 30px;
}

.popup-text-block{
  color: #1D1E1F;
  background-color: #ffffff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.div-for-select{
  padding-left: 10px;
  padding-top: 5px;
  width: 200px;
  height: 50px;
  background-color: #ffffff;
}
.popup-children{
  padding-left: 10px;
}
.popup-children-select{
  height: 30px;
  border: 2px solid #2982ff;
}
